.hero {
  background-color: #d0eafc;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 60px;
  padding-bottom: 150px;
}

.hero_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  color: #1e3240;
  margin-top: 9px;
  justify-content: center;
  gap: 5px;
  display: flex;
  align-items: end;
}

.hero_text span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #1e3240;
}

.hero_title {
  text-align: center;
  padding-top: 16px;
  position: relative;
}

.hero_btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url('../img/img4.svg');
  position: absolute;
  left: 16px;
}

.hero_btn::before {
  content: "";
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: url('../img/img5.svg');
  position: absolute;
  right: 16px;
}

.hero_btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  padding: 10px 39px;
  background-color: var(--prime);
  border-radius: 8px;
  border: none;
  margin-top: 8px;
}

.hero_btn:hover {
  background-color: #52d116;
}

.hero_item {
  margin-top: 16px;
  position: relative;

}

.hero_img {
  position: absolute;
  width: 173px;
  height: 207px;
  right: 0px;
  top: -100px;
  transform: translate(-50%, 50%);
}

.hero_imegs {
  width: 192px;
  height: 45px;
}

@media screen and (min-width: 768px) {
  .hero_img {
    right: 195px;
    top: -104px;
  }

  .hero_imegs {
    width: 308px;
    height: 72px;
  }

  .hero_text {
    font-size: 48px;
  }

  .hero_text span {
    font-size: 32px;
  }
}

.hero_block {
  position: relative;
}

.hero_block::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url('../img/img4.svg');
  left: 50px;
  display: none;
}

.hero_block::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url('../img/img5.svg');
  right: 50px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .hero_block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: row-reverse;
  }

  .hero {
    padding-bottom: 0px;
  }

  .hero_item {
    width: 398px;
    height: 479px;
  }

  .hero_img {
    width: 398px;
    height: 479px;
    position: absolute;
    left: 160px;
    top: -240px;
  }

  .hero_btn::after {
    display: none;
  }

  .hero_btn::before {
    display: none;
  }

  .hero_imegs {
    width: 457px;
    height: 106px;
  }
  .hero_title{
  text-align: start;
  }
  .hero_text{
    justify-content: start;
  }
  .hero_btn{
    margin-top: 19px;
  }
  .hero_block::after{
    display: block;
  }
  .hero_block::before{
    display: block;
  }
}